ul{
  list-style: square inside
}

/* 연결 선택자 '띄어쓰기'로 구분
  A:nth-child() - 부모 안에 있는 모든 요소 중에서 n번째 자식을 선택 */
ul li:nth-child(1) {
  color: red;
}
ul li:nth-child(2) {
  color: green;
}
ul li:nth-child(3) {
  color: blue;
}

ul li:hover {
  color: aqua;
}

ol {
  list-style: lower-alpha outside;
}

ol li:nth-child(1) {
  background-color: yellow;
}
ol li:nth-child(2) {
  background-color: gray;
}
ol li:nth-child(3) {
  background-color: orange;
}
