caption {
  caption-side: bottom;
}

table {
  border: 1px solid black ;
  /* border-spacing: 10px 20px ; */
  border-collapse: collapse;
}

th {
  border: 1px solid pink;
}
td {
  border: 1px solid lightblue;
}

/* 
! 테이블 스타일 지정의 기본값
table, th, td {
  border: 1px solid black ;
}  */